.password-strength {
  display: flex;
}

.strength-section {
  width: 50px;
  height: 10px;
  margin-right: 5px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
